html{
	position: relative;
	min-height: 100%;
}
body {
	font-family: "Comic Sans MS", cursive;
	margin-bottom: 10px;
}

.pages {
	text-align:center;
	vertical-align:middle;
}

#footer {
	position: absolute; 
	bottom: 0; 
	width:100%;
	text-align:center;
	height: 60px;
}

h1 {
	text-align: center;
	font-family: 'Lobster';
}

a:visited {
	color: orange;
}
a:hover {
	font-weight: bold;
}
a:active {
	text-decoration: none;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}